<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elemento-b">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `elemento-b`
     * elemento hijo B
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementoB extends Polymer.Element {
      static get is() { return 'elemento-b'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'elemento-b'
          }
        };
      }
    }

    window.customElements.define(ElementoB.is, ElementoB);
  </script>
</dom-module>
